
.img-fluid{
    max-width: 179px;
    width: 100%;
    height:auto;
}
.navbar-brand{
    padding:0px !important;
}


.nav>li{
    padding-left:45px;
}

#about{
    background-color:#9abdb9;
    padding-top:184px;
    padding-bottom:90px;
}
#work{
    padding-top:45px;
    padding-bottom:40px;
}
.section-bg{
    background-color :#87c1ea;
}

.Montserrat-regular{
    font-family: 'Montserrat', sans-serif;
}
.ProximaNova-Black{
    font-family: 'ProximaNova-Black';
}
.ProximaNova-Regular{
    font-family: 'ProximaNova-Regular';
    color: black;
}
.ProximaNova-Bold{
    font-family: 'ProximaNova-Bold';
}
.Gotham-Black{
    font-family: 'Gotham-Black';
    color: black;
}
body{
    font-family: 'ProximaNova-Regular';
}
@font-face {
    font-family: 'ProximaNova-Black';
    src: url( '/css/FontsFree-Net-Proxima-Nova-Black.otf');
}
@font-face {
    font-family:'proximanova-regular';
    src: url('/css/proximanova-regular.otf');
}
@font-face {
    font-family: 'proximanova-bold';
    src: url('/css/proximanova-bold.otf');
}
@font-face {
    font-family: 'Gotham-Black';
    src: url('/css/Gotham-Black.otf');
}
#header{
    background-image: url("../img/color-strip.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 20px;
    padding-bottom:20px;
    background-color: white !important;
}
.navbar-nav{
    margin:21.5px -15px !important;
}
.nav_font_style{
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 50px;
    font-weight: 800;
}
.nav_font_style_black{
    color: #000000 !important;
}
.nav_font_style_red{
    color: #b40709 !important;
}

.navbar{
    margin-bottom:0px !important;
}
.main_top_heading{
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #eee1c7;
    font-weight: 800;
    transform: translateY(9px);
}
.main_second_heading{
    font-size: 61px;
    line-height: 61px;
    color: #000000;
    font-weight: 800;
}
.main_top_para{
    font-size: 20px;
    line-height: 33px;
    color: #000000;
    max-width: 606px;
    width: 100%;
}
.main_third_heading{
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #eee1c7;
}
.brochure-btn-text:hover,.brochure-btn-text:focus{
    color:white;
    border-radius:0px !important;
    border:0px !important;
    outline: none !important;
}

.top-img-fluid-section{
    transform:translate(-8%,3%);
}
.img-fluid-icon {
    height: 165px;
    max-height: 100%;
}

.work-img-fluid-icon {
    height: 150px;
    max-height: 100%;
}
.img-fluid-icon-col{
    padding-left:32px;
    margin-bottom:0px;
    transform:translate(-8%,-18%);
}

.cost-heading{
    font-size: 31px;
    line-height: 30px;
    color: #b30510;
    font-weight: 800;
}

.cost-text{
    font-size: 19px;
    line-height: 33px;
    color: #000000;
}
.earn-content-heading{
    font-size: 30px;
    line-height: 30px;
    font-weight: 800;
}
.earn-content-text{
    font-size: 19px;
    line-height: 33px;
    color: #000000;
    width:100%;
    max-width:420px;
    padding:0px 8px 0px 8px;
}
.img-fluid-icon-list{
    display:flex;
    list-style: none;
}
.img-fluid-icon-list>li{
    margin-left:50px;
}
.work-heading{
    font-size: 36px;
    line-height: 33px;
    color: #2c55a7;
    font-weight: 800;
}
.work-text{
    max-width:600px;
    width:100%;
    font-size: 19px;
    line-height: 33px;
    color: #000000;
}
.work-img-row{
    transform: translateX(-50px)
}
.work-icon-text{
    font-size: 19px;
    letter-spacing: 2px;
    line-height: 33px;
    color: #2c55a7;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -17px;
    display: block;
}
.work-img-row{
    padding-top: 50px;
}
.about-row{
    margin-right: 0px !important;
}
.about-col-1{
    padding-right: 0%;
    padding-left: 0%;
}

.about-row-1{
    background-image: url('../img/lockers/Vector Smart Object@1X (1).png');
    background-size: 143%;
    background-repeat: no-repeat;
    padding-right: 0%;
    padding-left: 0%;
    background-position-x: center;
    background-position-y: center;
}

.about-col-2{
    padding-right: 0%;
    padding-left: 0%;
}

.about-row-2{
    background-image: url('../img/lockers/imgpsh_fullsize_anim.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 0%;
    padding-left: 0%;
}
.about2-col-1{
    padding-right: 0%;
    padding-left: 0%;
}
.about2-col-2{
    padding-right: 0%;
    padding-left: 0%;
}
.about2-col-1-lay{
    background: rgba(147, 170, 204, 0.9);
    height: 100%;
    padding: 15px 20px;
}
.about2-col-content{
    padding-left: 38px !important;
    padding-top: 13px;
    margin-bottom: 46px;
    margin-top: 30px;
}

.about2-col-content>h6{
    font-size: 19px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #000000;
    font-weight: 800;
}
.about2-col-content>h5{
    font-size: 36px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 800;
}
.about2-col-content>h4{
    border: 2px solid white;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 800;
}
.about2-col-content-text1{
    max-width:521px;
    width: 100%;
    height:auto;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
}

.about2-col-content-text1>b{
    margin-top: 15px;
    display:block !important;
}
.about2-col-content-text2{
    font-weight:bold;
}
.about-col-2-lay{
    background: rgba(244, 185, 45, 0.9); height: 100%;
}
.about-col-2-content{
    transform: translateX(-13px);
    padding-top: 56px;
    padding-bottom: 33px;
}
.about-col-2-content>h6{
    font-size: 19px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #000000;
    font-weight: 800;
}
.about-col-2-content>h5{
    font-size: 36px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 800;
}
.about-col-2-content>p{
    max-width:575px;
    height:auto;
    width:100%;
    font-size: 19px;
    line-height: 33px;
    color: #000000;
    padding-bottom:20px;
}
.circle{
    vertical-align: sub;
    /* height: 46px; */
    /* width: 46px; */
    background-color: rgb(44, 85, 167);
    border-radius: 100%;
    color: white;
    display: inline-block;
    padding: 10px 17px;
    margin-top: -6px;
}

.list_icon_style{
    margin-top: -8px;
    margin-left: -4px;
}
#role{
    padding-top: 36px;
    padding-bottom: 31px;
}
.role-heading-top{
    font-size: 19px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #000000;
    font-weight: 800;
}
.role-icon-row{
    margin-top: 39px;
}
.role-heading-second{
    font-size: 32px;
    line-height: 32px;
    color: #2c55a7;
    font-weight: 800;
    margin-top:8px !important;
}

.role-content-text{
    font-size: 19px;
    line-height: 33px;
    color: #000000;
}
.role-icon-text{
    font-size: 28px;
    line-height: 36px;
    color: #2c55a7;
    font-weight: 800;
    margin-top: -13px !important;
    margin-bottom: 0px !important;
}
.role-list-text{
    font-size: 19px;
    line-height: 33px;
}
.role-vat{
    font-size:xx-large;
}

.role-40{
    font-size:x-large;
}
.role-note{
    font-size: 70% !important;
    line-height: 23px;
    width: 100%;
    display: inherit;
}
.light-pink{
    color: rgb(238, 225, 199);

}
.red{
    color: rgb(179, 5, 16);

}
.gray{
    color: rgb(154, 189, 185);

}
.light-blue{
    color: rgb(147, 170, 204);

}
.yellow{
    color: rgb(238, 222, 138);

}
.dark-yellow{
    color: rgb(244, 185, 45);

}
.blue{
    color: rgb(44, 85, 167);

}
.list_heading{
    font-weight:bold;
}
.topmminus{
    transform: translateY(-10%)
}


.top-img-fluid {
    width:auto;
    height:550px;
    margin-top: -25px;
    max-height: 100%;
}
.img-financial{
    width: 100%;
    max-height: 100%;
    margin-top: -47px;
}
#financial{
    background-color: rgb(238, 225, 199);
    padding-top: 60px;
}

.topmminus-col{
    height: 411px;
    max-height: 100%;
    padding-left: 0px;
    margin-left:0px;
}

.cost-text-sm{
    font-size:71% !important;
    line-height:20px;
    display:block;
}
.brochure-heading{
    font-size: 36px;
    line-height: 36px;
    color: #9abdb9;
    font-weight: 800;
}
.brochure-content{
    font-size: 19px;
    line-height: 33px;
    color: #000000;
    padding:0px 5px 0px 5px;
}

.brochure-btn-text{
     font-size: 19px;
     letter-spacing: 3px;
     line-height: 36px;
     color: #ffffff;
     font-weight: 800;
     padding: 20px !important;
 }
.brochure-btn-text-solution{
    border: 2px solid white !important;
    border-radius:0px !important;
    outline: none !important;
    background-color: transparent;
    font-size: 19px;
    letter-spacing: 3px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 800;
    padding: 20px !important;
}
.brochure-btn-text-solution:hover{
    color:white !important;
}
.brochure-btn-col{
    padding-left: 0px;
}
.brochure-btn{
    padding-top: 43px;
}
.button{
    color: white;
    background-color: rgb(154, 189, 185);
    border-color:rgb(154, 189, 185);
    height: 25%;
    padding: 1rem 0.75rem;
    border-radius:0px !important;
}
.modal-button{

    color: white;
    background-color: rgb(179, 5, 16);
    border-color:rgb(179, 5, 16);

    padding: 1.5% 5%;

}
.border {
    display: inline-block;
    padding: 2%;
}

#brochure{
    padding-top: 60px;
    padding-bottom: 50px;
}
#footer{
    height:450px;
    max-height: 100%;
}
.footer-row{
    margin-top: 80px !important;
}

.navbar-default .navbar-toggle{
    border:0px;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: transparent;
}
.footer-text{
    font-size: 17px;
    line-height: 25px;
    color: #000000;
    margin-top:0px;
    text-align:right;
}
.footer-icon{
    margin-top:8px;
}
.footer-icon-fluid{
    height:40px;
    width: auto;
    margin-left: 10px;
}
.facebook-icon{

}
.role-content{
    padding-left: 40px;
    margin-top: 17px;
}
.earn-content{
    transform: translateX(-15px);
}

@media (min-width: 768px){
    .navbar-logo{
        margin-left: 0px !important;
    }
}

@media screen and (max-width: 992px){
    .topmminus{
        transform: translateY(0%)
    }
}

@media (min-width: 1400px){
    .container {
        width: 1367px;
    }
}

@media (min-width: 1250px){
    .container {
        width: 1300px;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1229px;
    }
    .nav>li>a{
        padding:10px 11px;
    }
}

@media (max-width: 1400px){
    .top-img-fluid{
        Width:100%;
        height: 523px;
    }

}


@media (max-width: 1200px){
    .nav>li>a{
        padding-top: 0px;
        font-size: 90% !important;
    }
    .brochure-btn-text{
        font-size:100%;
    }
    .nav>li {
        padding-left:34px;
    }
    .img-fluid{
        max-width: 130px;
    }
    .top-img-fluid{
        Width:100%;
        height: 100%;
    }
}
@media only screen and (max-width: 1000px) {
    .nav>li{
        padding-left:0px;
    }

    .img-fluid{
        max-width: 95px;
    }
    .navbar-nav {
        margin: 8.5px 7px !important;
    }
    #about {
        padding-top:87px;
    }
    .nav>li>a{
        padding:0px 12px !important;
        font-size: 10px !important;
    }
    .top-img-fluid-section{
        transform:translate(0%,0%);
    }
    .about-col-2-content{
        margin-left:54px;
    }

    .navbar-brand>img{
        margin-left:26px;
    }
    .row{
        margin-right: 0px;
        margin-left: 0px;
    }
    .work-img-row{
        transform:translateX(-23px);
    }
    #financial{
        padding-bottom: 30px;
    }
    .role-content{
        padding-left: 1px!important;
    }
    .text-right{
        text-align:left;
    }

    .earn-content{
        transform: translateX(0px);
    }
    .navbar-header{
        padding-bottom:10px;
    }
    .about2-col-content{
        padding-left:18px !important;
    }
    .brochure-btn-text{
        font-size:90% !important;
    }
    h1,h2,h3,h4,h5,h6,p,span,a,li,button,small,b,strong{
        font-size: 190% !important;
        line-height:190% !important;
    }

    .topmminus-col{
        height:471px;
    }
}
@media only screen and (max-width: 768px) {
    p,span,a,li,button,small,b,strong{
        font-size: 130% !important;
        line-height:190% !important;
    }
    .img-fluid-icon{
        height:100% !important;
        width: 100% !important;
    }
    .footer-text{
        text-align:left;
    }
    .main_third_heading{
        font-size: 25px;
        letter-spacing: 0px;
        line-height: 33px;
        color: #eee1c7;
        font-weight: 800;
    }
    .main_second_heading{
        font-size:40px;
    }
    .img-fluid{
        max-width: 130px;
    }
}


@media only screen and (max-width: 600px) {
    p,span,a,li,button,small,b,strong{
        font-size: 100% !important;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 150% !important;
        line-height:120% !important;
    }
    .img-financial{
        margin-top:0px;
        height:100%;
    }
    .topmminus-col{
        height:100%;
    }
    .list_icon_style{
        margin-top:10px;
    }
    .about-row-1 {
        background-position-y: initial;
    }
    .work-icon-text{
        margin-top:0px;
    }
    .img-fluid-icon-col {
        padding-left: 0%;
        transform: translate(-35%, -18%);
    }
    .work-img-fluid-icon {
        height: 57%;
    }

    .list_icon_style{
        width: 10%;
    }

    .brochure-btn-text {
        padding:10px !important;
    }
    .brochure-btn-col {
        padding-left: 11px;
    }
    img{
        width: 100%;
    }
    .about2-col-content{
        padding-left:15px !important;
    }
    #about {
        padding-top: 100px !important;
    }
    .about-col-2-content{
        transform:translateX(-39px);
    }


    .nav>li>a {
        padding: 4px 10px !important;
        font-size: 12px !important;
    }

    .navbar-brand>img {
        margin-left: 26px;
    }
}
@media only screen and (max-width: 400px) {
    .about-col-2-content{
        margin-left:43px;
    }
    .about2-col-content{
        padding-left:5px !important;
    }
    .about2-col-1-lay{
        padding:0px 23px !important;
    }
}
@media only screen and (max-width: 320px) {
    h1,h2,h3,h4,h5,h6,p,span{
        font-size: 100% !important;
    }
}
