
.img-fluid{
    max-width: 120px;
    width: 100%;
    height:auto;
}
.navbar-brand{
    padding:0px !important;
}
.nav>li{
    padding-left:50px;
}

.nav_font_style{
    font-size: 19px;
    letter-spacing: 2px;
    line-height: 50px;
    color: #000000;
    font-family: "Proxima Nova";
    font-weight: 800;
}
#about{
    background-color:#9abdb9;
    padding-top:95px;
    padding-bottom:45px;
}
#work{
    padding-top:30px;
    padding-bottom:30px;
}
.section-bg{
    background-color :#87c1ea;
}
.ProximaNova-Black{
    font-family: 'ProximaNova-Black';
    color: black;
}
.ProximaNova-Regular{
    font-family: 'ProximaNova-Regular';
    color: black;
}
.ProximaNova-Bold{
    font-family: 'ProximaNova-Bold';
    color: black;
}
.Gotham-Black{
    font-family: 'Gotham-Black';
    color: black;
}

@font-face {
    font-family: 'ProximaNova-Black';
    src: url( '/css/FontsFree-Net-Proxima-Nova-Black.otf');
}
@font-face {

    font-family:'proximanova-regular';

    src: url('/css/proximanova-regular.otf');
}
@font-face {

    font-family: 'proximanova-bold';

    src: url('/css/proximanova-bold.otf');
}
@font-face {

    font-family: 'Gotham-Black';

    src: url('/css/Gotham-Black.otf');
}
#header{
    background-image: url("../img/color-strip.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 20px;
    padding-bottom:20px;
    background-color: white !important;
}
.navbar{
    margin-bottom:0px !important;
}
.main_top_heading{
    color: rgb(238, 225, 199);
    font-size: 16px;
    transform: translateY(9px);
}
.main_second_heading{
    font-size: 52px ;
    font-weight:bold !important;
}
.main_top_para{
    font-size: 16px;
    max-width:445px;
    width:100%;
}
.main_third_heading{
    color: rgb(238, 225, 199);font-size: 20px
}

.top-img-fluid {
    max-width: 470px;
    width:100%;
    height: auto;
}
.top-img-fluid-section{
    transform:translate(-25%,6%);
}
.img-fluid-icon {
    width: 80px;
    height: 85px;
    max-height: 100%;
}
.work-heading{
    font-size: 26px;
}
.work-text{
    font-size: 16px;max-width:437px;width:100%;
}
.work-img-row{
    transform: translateX(-50px)
}
.work-icon-text{
    font-size: 12px;
}
.work-img-row{
    padding-top: 50px;
}
.about-row{
    margin-right: 0px !important;
}
.about-col-1{
    padding-right: 0%;padding-left: 0%;
    background-image: url('../img/lockers/image--007.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:335px;
    padding-right: 0%;
    padding-left: 0%;
}
.about-col-2{
    padding-right: 0%;
    padding-left: 0%;
    background-image: url('../img/lockers/image--002.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 0%;
    padding-left: 0%;
}

.about2-col-1{
    background-image: url('../img/lockers/image--001.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    padding-right: 0%;
    padding-left: 0%;
}
.about2-col-2{
    background-image: url('../img/lockers/image--004.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:350px;
    padding-right: 0%;
    padding-left: 0%;
}
.about2-col-1-lay{
    background: rgba(147, 170, 204, 0.9); height: 100%;  padding: 15px 20px;
}
.about2-col-content{
    padding-left: 29px !important;
    padding-top:13px;
}
.about2-col-content>h6{
    font-size: 14px;
}
.about2-col-content>h5{
    color: #fff;font-size: 26px;
}
.about2-col-content>h4{
    color: #fff;
    font-size: 16px;
    border: 2px solid white;
}
.about2-col-content-text1{
    font-size: 16px;max-width:400px;width: 100%;height:auto;
}
.about2-col-content-text2{
    font-size: 16px;font-weight:bold;padding-right:101px;
}
.about-col-2-lay{
    background: rgba(244, 185, 45, 0.9); height: 100%;
}
.about-col-2-content{
    transform: translateX(-29px);padding-top: 30px;
}
.about-col-2-content>h6{
    font-size: 16px;
}
.about-col-2-content>h5{
    color: #fff;font-size: 26px;
}
.about-col-2-content>p{
    font-size: 16px;
    max-width:419px;
    height:auto;
    width:100%;
}
.circle{
    height: 25px;
    width: 25px;
    background-color: rgb(44, 85, 167);
    border-radius: 100%;
    color: white;
    display: inline-block;
    padding: 2px 5px;
}
#role{
    padding-top: 30px;
    padding-bottom: 30px;
}

.light-pink{
    color: rgb(238, 225, 199);

}
.red{
    color: rgb(179, 5, 16);

}
.gray{
    color: rgb(154, 189, 185);

}
.light-blue{
    color: rgb(147, 170, 204);

}
.yellow{
    color: rgb(238, 222, 138);

}
.dark-yellow{
    color: rgb(244, 185, 45);

}
.blue{
    color: rgb(44, 85, 167);
}

.topmminus{
    transform: translateY(-10%)
}
@media screen and (max-width: 992px){
    .topmminus{
        transform: translateY(0%)
    }
}
.img-financial{
    width: 100%;
    height: 350px;
    max-height: 100%;
}
#financial{
    background-color: rgb(238, 225, 199);
    padding-top: 20px;
}
.button{
    color: white;
    background-color: rgb(154, 189, 185);
    border-color:rgb(154, 189, 185);
    height: 25%;
    padding: 1rem 0.75rem;
    border-radius:0px !important;
}
.modal-button{

    color: white;
    background-color: rgb(179, 5, 16);
    border-color:rgb(179, 5, 16);

    padding: 1.5% 5%;

}
.border {
    display: inline-block;
    padding: 2%;
}

#brochure{
    padding-top: 30px;
    padding-bottom: 30px;
}
#footer{
    padding-top:30px;
    padding-bottom:30px;
}

.role-content{
    padding-left: 40px;
    margin-top: 17px;
}
.earn-content{
    transform: translateX(-15px);
}
@media only screen and (max-width: 1000px) {
    .nav>li{
        padding-left:0px;
    }
    .nav>li>a{
        padding:10px 10px !important;
    }
    .top-img-fluid-section{
        transform:translate(0%,0%);
    }
    .about-col-2-content{
        margin-left:54px;
    }

    .navbar-brand>img{
        margin-left:29px;
    }
    .row{
        margin-right: 0px;
        margin-left: 0px;
    }
    .work-img-row{
        transform:translateX(-23px);
    }
    #financial{
        padding-bottom: 30px;
    }
    h1,h2,h3,h4,h5,h6,p,span{
        font-size: 100% !important;
    }
    .role-content{
        padding-left: 1px!important;
    }
    .text-right{
        text-align:left;
    }

    .earn-content{
        transform: translateX(0px);
    }
    .navbar-header{
        padding-bottom:10px;
    }
}

@media only screen and (max-width: 400px) {
    .about-col-2-content{
        margin-left:43px;
    }
    .about2-col-content{
        padding-left:5px !important;
    }
    .about2-col-1-lay{
        padding:0px 23px !important;
    }
}
@media only screen and (max-width: 320px) {
    h1,h2,h3,h4,h5,h6,p,span{
        font-size: 100% !important;
    }
}
